<html>

<head>
    <title>Acknowledgement</title>
    <link rel="Stylesheet" href="/stylesheets/superAdmin/acknowledgement.css">
    <link rel="icon" type="image/x-icon" href="logo2.png">
</head>

<body>
    <div class="container">
        <h2>
            <center>Online Maharashtra Schools Teacher Transfer System <br> (Acknowledgement)</center>
        </h2>
        <table class="one-table">
            <tr>
                <th style="Background-color:rgb(201, 15, 15); text-align: left; color: white;" colspan="4">
                    Personal
                    Information</th>
            </tr>
            <tr>
                <td>Application ID</td>
                <td colspan="3">
                    <%= transfer.application_no %>
                </td>
            </tr>
            <TR>
                <td>Name of the Teacher</td>
                <td>
                    <%= transfer.name %>
                </td>
                <td>DOB</td>
                <td>
                    <%= transfer.dob %>
                </td>
            </TR>
            <tr>
                <td>Gender</td>
                <td>
                    <%= transfer.gender %>
                </td>
                <td>Marital Status</td>
                <td>
                    <%= transfer.maritalStatus %>
                </td>
            </tr>
            <tr>
                <td>Mobile No</td>
                <td>
                    <%= transfer.mobileNo %>
                </td>
                <td>Email Id</td>
                <td>NA</td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <%= transfer.state %>
                </td>
                <td>District</td>
                <td>
                    <%= transfer.district %>
                </td>
            </tr>
            <tr>
                <td>Block/ULB</td>
                <td>ATTABIRA</td>
                <td>School</td>
                <td>
                    <%= transfer.presentSchool %>
                </td>
            </tr>
            <tr>
                <td>Post Held</td>
                <td>CT(+2 ARTS)</td>
                <td>Transfer Category</td>
                <td>2-TERMINAL DISEASE OF SELF</td>
            </tr>
            <tr>
                <td>Date Of Joining as Regular</td>
                <td>22/11/2015</td>
                <td>Date Of Joining in Present</td>
                <td>15/07/2015</td>
            </tr>
            <tr>
                <td>Aadhaar Number</td>
                <td>xxxxx xxxxx 5937</td>
                <td>Subject Teaching</td>
                <td>All Subjects</td>
            </tr>
            <tr>
                <td>Appointment Against Post</td>
                <td>CT(+2 ARTS)</td>
                <td>Caste</td>
                <TD>General</TD>
            </tr>
            <tr>
                <td>Graduate</td>
                <td>Arts Graduate</td>
                <td>Nature Of Appointment</td>
                <td>CONTRACTUAL</td>
            </tr>
            <tr>
                <td>Teacher Cadre</td>
                <td>Elementary</td>
                <td>Date of Engagement</td>
                <td>22/11/2012</td>
            </tr>
            <tr>
                <td>Registration Date</td>
                <td>2018-06-11 16:07:25.665513</td>
            </tr>
        </table>
        <div>
            <h3>Transfer Choice (Intra District)</h3>
            <table style="width: 100%;">
                <tr style="background-color:rgb(201, 15, 15); color: white;">
                    <th>Choice No.</th>
                    <th>District</th>
                    <th>Block/ULB</th>
                    <th>School</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>BARGARH</td>
                    <td>ATTABIRA</td>
                    <td>ANDHARIPALI U.G.U.P.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>BARGARH</td>
                    <td>BARGARH</td>
                    <td>BIRMAL TOUP</td>
                </tr>
            </table>
            <p class="foot-text">I have opted to be posted in any school of ATTABIRA block, in case the above choices
                are not available</p>
            <div class="foot-butt">
                <form action="http://localhost:3000/superAdmin/teacherTransfer/<%= id %>" method="post">
                    <button class="btn btn-primary" role="button">Approve</button>
                </form>
                <form action="http://localhost:3000/superAdmin/teacherTransfer" method="get">
                    <button role="button" class="btn btn-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
    <%- include("../templates/footer") %>