<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edurecruit - A smart way to manage teachers data.</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

        body {
            background: #f5f5f5;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        .navigation-bt {
            font-size: min(1.2vw, 1.5rem);
            color: black;
            font-family: 'Poppins', sans-serif;
            border: none;
            border-radius: 7px;
            float: left;
            margin-left: 20%;
            ;
        }

        #burger {
            color: black;
            position: fixed;
            top: 12%;
            font-size: min(7vw, 3rem);
            left: 5%;
            visibility: hidden;
            z-index: 16;
        }

        #navbar {
            width: 13%;
            height: 100%;
            position: fixed;
            background: white;
            border-right: 1px solid #f5f5f5;
            z-index: 3;
        }

        #maindiv {
            position: absolute;
            left: 13%;
            width: 87%;
            height: 93%;
            top: 0%;
        }

        #container1 {
            width: 98%;
            position: relative;
            left: 1%;
            background: white;
            border-radius: 5px;
            padding: 30px;
            font-family: 'Poppins', sans-serif;
            margin-top: 1.5%;
            display: flex;
        }

        #logo {
            position: relative;
            left: 15%;
        }

        #title {
            font-size: min(3vw, 3rem);
            font-weight: bold;
        }

        .row1_child {
            background: white;
            border-radius: 7px;
            box-shadow: 2px 2px 3px 3px lightgrey;
            width: 100%;
            height: 120px;
        }

        #row1 {
            width: 98%;
            margin-left: 1%;
        }

        #row2 {
            width: 98%;
            margin-left: 1%;
            height: 55%;
        }

        #row3 {
            width: 98%;
            margin-left: 1%;
            height: 40%;
        }

        .row1_child_font1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: min(2vw, 1.5rem);
            margin: 10%;


            color: #012A60;

        }

        .row1_child_font2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: bold;
            font-size: min(2vw, 4rem);
            margin: 10%;
            position: relative;
            left: 55%;
            color: #012A60;

        }
    </style>
</head>

<body>
    <span class="glyphicon glyphicon-menu-hamburger" id="burger"></span>
    <div style="width:13%;height:100%;position:fixed;background:white;border-right:1px solid #f5f5f5;z-index:3;"
        id="navbar">
        <center><br><br>
            <img src="images/dashboardLogo.png" style="max-width:12vw;">  </center>
            <br><br><br><br>
            <a href="superAdmin/email"><span class="glyphicon glyphicon-envelope"
                    style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;  ;">&nbsp&nbsp&nbsp&nbspEmail</span><br><br>
            </a>
            <a href="superAdmin/teachers">
                <font
                    style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;">
                    <span class="glyphicon glyphicon-briefcase" id="send"></span>&nbsp&nbsp&nbsp&nbspTeachers
                </font><br><br>
            </a>
            <a href="superAdmin/departments">
                <font
                    style="font-size:min(1vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;;">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp&nbsp&nbsp&nbspDepartments
                </font><br><br>
            </a>
            <a href="superAdmin/calendar">
                <font
                    style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;;">
                    <span class="glyphicon glyphicon-calendar"></span>&nbsp&nbsp&nbsp&nbspCalendar
                </font><br><br>
            </a>
            <a href="superAdmin/tasks">
                <font
                    style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;;">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp&nbsp&nbsp&nbspTasks
                </font><br><br>
            </a>
            <a href="superAdmin/scheduleMettings">
                <font
                    style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;;">
                    <span class="glyphicon glyphicon-star"
                        style="display: inline;"></span>&nbsp&nbspSchedule&nbspMeetings
                </font><br><br>
            </a>
            <a href="http://localhost:3000/superAdmin/schools">
                <font style=" font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins',
                sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;;">
                <span class="glyphicon glyphicon-check"></span>&nbsp&nbsp&nbsp&nbspView school summary
            </font><br><br>
        </a>
        <a href="superAdmin/logout">
            <font
                style="font-size:min(1.2vw,1.5rem);color:black;font-family:'Poppins', sans-serif;border:none;border-radius:7px;float:left;margin-left:10%;;">
                <span class="	glyphicon glyphicon-log-out"></span>&nbsp&nbsp&nbsp&nbspLogout
            </font><br>
        </a>

    </div>
    <div id="maindiv">
        <div id="container1">
            <span class="row" style="width:100%;">
                <span class="col-md-2">
                    <img src="/images/govt.svg" style="padding-left:40%;">
                </span>

                <span class="col-md-8">
                    <center>
                        <font id="title"><span style="color:orangered">MAHARASHTRA GOVERNMENT</span><br>
                            Online recruitment management system</font>
                    </center>
                </span>
            </span>
        </div>
        <br>
        <span class="row" id="row1">
            <span class="col-md-2">
                <a href="http://localhost:3000/superAdmin/schoolList" style="width: 100%; text-decoration: none;"
                    role="button">
                    <div class="row1_child">
                        <br>
                        <font class="row1_child_font1"> Total affiliated<br></font>
                        <font class="row1_child_font1"> schools</font>
                        <br><br>
                        <font class="row1_child_font2"> 295</font>
                    </div>
                </a>
            </span>
            <span class="col-md-2">
                <a href="/superAdmin/teachers">
                    <div class="row1_child">
                        <br>
                        <font class="row1_child_font1"> Total recruited
                            <br>
                        </font>
                        <font class="row1_child_font1"> teachers</font>
                        <br><br>
                        <font class="row1_child_font2"> 295</font>
                    </div>
                </a>
            </span>
            <span class="col-md-2">
                <a href="/superAdmin/exams">
                    <div class="row1_child">
                        <br>
                        <font class="row1_child_font1"> Total exams
                            <br>
                        </font>
                        <font class="row1_child_font1"> offerred</font>
                        <br><br>
                        <font class="row1_child_font2"> 295</font>
                    </div>
                </a>
            </span>
            <span class="col-md-2">
                <a href="/superAdmin/applicants">
                    <div class="row1_child">
                        <br>
                        <font class="row1_child_font1"> Total applicants
                            <br>
                        </font>
                        <font class="row1_child_font1"> 2022 </font>
                        <br><br>
                        <font class="row1_child_font2"> 295</font>
                    </div>
                </a>
            </span>
            <span class="col-md-2">
                <a href="/superAdmin/recruitmentStats">
                    <div class="row1_child">
                        <br>
                        <font class="row1_child_font1"> Recruited stats
                            <br>
                        </font>
                        <font class="row1_child_font1"> 2022 </font>
                        <br><br>
                        <font class="row1_child_font2"> 295</font>
                    </div>
                </a>
            </span>
            <span class="col-md-2">
                <a href="/superAdmin/transferStats">
                    <div class="row1_child">
                        <br>
                        <font class="row1_child_font1"> Transfer stats
                            <br>
                        </font>
                        <font class="row1_child_font1"> 2022 </font>
                        <br><br>
                        <font class="row1_child_font2"> 295</font>
                    </div>
                </a>
            </span>
        </span>

        <br>
        <span class="row" id="row2">


            <span class="col-md-3" id="manageapplication_col">
                <div class="row1_child" style="overflow:auto;height:55rem;">
                    <br>
                    <!---47% is orginal height-->
                    <font class="row1_child_font1" style="font-size:min(3vw,2rem);">Manage Applications</font>

                    <div style="height:100%;" id="manageapplication">
                        <div style="height:100%;" id="manageapplication">
                            <% if(typeof application !=="undefined" && application.length !==0) {%>
                                <% for(let i=0;i<application.length;i++) {%>
                                    <a style="text-decoration:none;"
                                        href="http://localhost:3000/superAdmin/manageApplication/<%= i %>"
                                        role="button">
                                        <div id="manage" style="border :1px solid #f8f8f8;background :#f8f8f8;">
                                            <br>
                                            <img src="images/emailusr.png"
                                                style="width:40px;border-radius:50%;margin-left:5%;">
                                            <font
                                                style="font-family:Poppins;font-style:normal;font-weight:bold;font-size:min(3vw,1.7rem);margin:10%;color:#012A60;">
                                                <%= application[i].teacher_name %>
                                            </font><br>
                                            <font
                                                style="margin-left:27%;font-family:Poppins;font-style:normal;color:#012A60;">
                                                <%= application[i].subject %>
                                            </font>
                                            <div style="margin-left:27%;width:70%;overflow:hidden;">
                                                <font style="white-space:nowrap;color:#202020;">
                                                    <%= application[i].message %>
                                                </font>

                                            </div>

                                        </div>
                                    </a>

                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </span>
            <span class="col-md-9">
                <span class="row" style="height:46%;">
                    <span class="col-md-4">
                        <div class="row1_child" style="height:47%;">
                            <br>
                            <center>
                                <font class="row1_child_font1"> Allot admin roles</font><br><br>
                                <font class="row1_child_font1"
                                    style="border:1px solid grey;border-radius:7px;padding:10px;"> 295 roles
                                    alloted
                                </font>
                                <form action="http://localhost:3000/superAdmin/assignAdmin" method=" get">

                                    <button type="submit" class="row1_child_font1"
                                        style="background:#6853F8;color:white;border:none;border-radius:5px;padding:12px;font-size:min(2vw,1.7rem);">
                                        Allot admin roles</button>
                            </center>
                            <br>
                        </div>
                        <br>
                        <div class="row1_child" style="height:47%;">
                            <center>
                                <font class="row1_child_font1"> Push Updates </font>

                                <form action="http://localhost:3000/superAdmin/pushUpdates">


                                    <button type="submit" class="row1_child_font1"
                                        style="background:#6853F8;color:white;border:none;border-radius:5px;padding:12px;font-size:min(2vw,1.7rem);">

                                        View updates</button>
                                </form>



                                <form action="http://localhost:3000/superAdmin/pushUpdates/create">
                                    <button type="submit" class="row1_child_font1"
                                        style="background:#6853F8;color:white;border:none;border-radius:5px;padding:12px;font-size:min(2vw,1.7rem);">

                                        Add an update
                                    </button>

                                </form>
                            </center>
                            <br>
                        </div>
                    </span>
                    <span class="col-md-8">
                        <div class="row1_child" style="height:47%;overflow:auto;">
                            <br>
                            <font class="row1_child_font1"> Schedule Trainings </font>
                            <font style="color:#6853F8;font-size:min(3vw,3rem); ">
                                <a class="btn btn-primary" href="http://localhost:3000/superAdmin/scheduleMettings"
                                    role="button">+</a>
                            </font>
                            <!-- <font style="color:#6853F8;font-size:min(3vw,3rem); "> +</font><br> -->
                            <div style="height:100%;" id="schedule">
                                <br>
                                <% if(typeof training !=="undefined" && training.length !==0) {%>
                                    <% for(let i=0;i<training.length;i++) {%>
                                        <div
                                            style="border:1px solif #f8f8f8;background:#f8f8f8;box-shadow :2px 2px 3px 3px lightgrey;">
                                            <br>
                                            <span class="glyphicon glyphicon-list" style="margin-left:5%;"></span>
                                            <font
                                                style="font-family:Poppins;font-style:normal;font-weight:bold;font-size:min(3vw,1.7rem);margin:5%;color:#012A60;"
                                                ;>
                                                <%= training[i].title %>
                                            </font>
                                            <font
                                                style="font-family:Poppins;font-style:normal;color:#6853F8;font-size:min(3vw,1.2rem);margin-left:27%;">
                                                <a class="btn btn-primary" href="<%= training[i].training_pdf %>"
                                                    style="border:none;border-radius:5px;padding:5px;font-size:min(2vw,1.3rem);"
                                                    role="button">
                                                    View here
                                                </a>
                                            </font>
                                            <br>
                                            <font style="color:lightgrey;margin-left:12%;">
                                                <%= training[i].dataFrom %>
                                            </font>
                                            <font style="color:grey;margin-left:0%;">
                                                <%= training[i].dateTo %>
                                            </font>

                                        </div>
                                        <% } %>
                                            <% } %>
                            </div>
                        </div>
                        <br>
                        <div class="row1_child" style="height:47%;" id="transfer_request">
                            <br>
                            <center>
                                <font class="row1_child_font1">Manage teacher’s transfer requests </font>
                                <br><br>
                                <font class="row1_child_font1"
                                    style="border:1px solid grey;border-radius:7px;padding:10px;"> 27 pending
                                </font>
                                <br><br><br><br>
                                <a class="row1_child_font1" href="http://localhost:3000/superAdmin/teacherTransfer"
                                    style="background-color:red;color:white;text-decoration:none;border:none;border-radius:5px;padding:12px;font-size:min(2vw,1.7rem);;"
                                    role="button">
                                    View Applications
                                </a>
                            </center>
                        </div>
                    </span>
                </span>
            </span>
            <br>
            <span class="row" id="row3" style="position: absolute;left:0%;">
                <span class="col-md-12">
                    <div class="row1_child" style="height:100%;" id="chart">
                    </div>
                </span></span>
    </div>
    <script>
        //chart------------------------------------------------
        var options = {
            series: [{
                name: "State Employment",
                data: [1000, 12000, 3000, 9000, 5000, 10000, 11000, 7000, 6000, 12000, 4000, 8000, 10000]
            }],
            chart: {
                type: 'area',
                height: 350,
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            title: {
                text: 'State Employment for last 12 years',
                align: 'left'
            },
            labels: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
            xaxis: {
            },
            yaxis: {
                opposite: true
            },
            legend: {
                horizontalAlign: 'left'
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


        var row3 = document.getElementById("row3");
        var manageapplication_col = document.getElementById("manageapplication_col");
        var transfer_request = document.getElementById("transfer_request");
        console.log(transfer_request.offsetHeight + transfer_request.offsetTop);
        row3.style.top = transfer_request.offsetHeight * 2.8 + transfer_request.offsetTop + "px";
        manageapplication_col.style.height = transfer_request.offsetHeight * 2.1 + "px";
    </script>
</body>

</html>